In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

Netflix = pd.read_csv('/content/netflix.csv')
print(Netflix.head())  # Displays the first 5 rows

                                           Title        Date
0                               Almost Christmas  24/12/2024
1                              Our Little Secret  18/12/2024
2                 Twas the Text Before Christmas  18/12/2024
3  My Demon: Limited Series: Our Personal Heaven  10/12/2024
4      My Demon: Limited Series: The End of Fate  10/12/2024

In [ ]:
print(Netflix.info())  # Summary of dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   115 non-null    object
 1   Date    115 non-null    object
dtypes: object(2)
memory usage: 1.9+ KB
None

In [ ]:
print(Netflix.isnull()) #Empty spaces

     Title   Date
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
110  False  False
111  False  False
112  False  False
113  False  False
114  False  False

[115 rows x 2 columns]

In [ ]:
print(Netflix.isnull().sum())  # Count missing values per column

Title    0
Date     0
dtype: int64

In [ ]:
print(Netflix.describe())  # Summary statistics

                   Title        Date
count                115         115
unique               115          48
top     Almost Christmas  21/07/2024
freq                   1          13

In [ ]:
print(Netflix.duplicated().sum())  # Count of duplicate rows

0

In [ ]:
print(Netflix.columns)  # List of column names

Index(['Title', 'Date'], dtype='object')

In [ ]:
print(Netflix.shape)  # (rows, columns)

(115, 2)

In [ ]:
result = Netflix[Netflix["Title"].apply(lambda title: title == "My Demon: Limited Series: The Unmasked Truth")]

# Display the result
print(result)

                                           Title        Date
10  My Demon: Limited Series: The Unmasked Truth  07/12/2024

In [ ]:
count = Netflix["Title"].apply(lambda x: x == "My Demon: Limited Series: The Unmasked Truth").sum()

print(f"The title appears {count} times in the dataset.")

The title appears 1 times in the dataset.

In [ ]:
#Locating the a movie title in the title column
Netflix.loc[["Our Little Secret" in title for title in Netflix["Title"]], :].sort_values("Date", ascending=False)

               Title        Date
1  Our Little Secret  18/12/2024